<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .create-form{
            padding: 15px;
        }
    </style>

    <title>Contact Dashboard</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h3>Contact Manager</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor03">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search Contacts</button>
          </form>
        </div>
      </nav>
      <div class="container">
        <div class="row justify-content-center">
            <div class="col">
              <h1>Contacts Dashboard</h1><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Create Contact modal</button>
              <br>
              <br>
            <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <form class="create-form" action="/" method="POST">
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputFname" >First Name</label>
                                <input type="text" class="form-control" id="inputFname" name="fname">
                              </div>
                              <div class="form-group col-md-6">
                                <label for="inputLname">Last Name</label>
                                <input type="text" class="form-control" id="inputLname" name="lname">
                              </div>
                            </div>
                            <div class="form-group">
                              <label for="inputEmail">Email</label>
                              <input type="email" class="form-control" id="inputEmail" name="email">
                            </div>
                            <div class="form-row">
                              <div class="form-group col-md-6">
                                <label for="inputPhone">Phone</label>
                                <input type="text" class="form-control" id="inputPhone" name="phone">
                              </div>
                              <div class="form-group col-md-2">
                                <label for="inputAge">Age</label>
                                <input type="text" class="form-control" id="inputAge" name="age">
                              </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <button type="submit" class="btn btn-primary" value="Add">Create Contact</button>
                          </form>
                    </div>
                </div>
            </div>
              <div class="col">
                  <div class="table-container">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Age</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Show Contact</th>
                            <th scope="col">Delete Contact</th>
                          </tr>
                        </thead>
                        {% for contact in contacts%}
                        <tbody>
                          <tr>
                            <td>{{contact.id}}</td>
                            <td>{{contact.fname}}</td>
                            <td>{{contact.lname}}</td>
                            <td>{{contact.age}}</td>
                            <td>{{contact.phone}}</td>
                            <td>{{contact.email}}</td>
                            <td><a href=""><button type="button" class="btn btn-secondary">Show</button></a></td>
                            <td><a href=""><button type="button" class="btn btn-danger">Delete</button></a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
              </div>

            </div>
            
        </div>

</body>
</html>